{% extends 'edu/base.html' %}
{% load static %}
{% load menu %}

{% block css %}
    <link href="{% static 'edu/css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% generate_menu %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Education System</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% with menu=menus.main %}{% include "edu/bootstrap-navbar.html" %}{% endwith %}
                </ul>
                <form class="navbar-form navbar-right">
                    <a href="{% url 'logout' %}">Logout({{ user.username }})</a>
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {% with menu=submenu %}{% include "bootstrap-navbar.html" %}{% endwith %}
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">{% block header_title %}{% block title %}Page Title{% endblock %}{% endblock %}</h1>
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>


{% endblock %}
